
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.font-here{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

 *{
  padding: 0px;
  margin : 10px;
  box-sizing: border-box;
}

/* Style for navber */

.logo-name{
  font-size : 32px;
  font-weight: bold;
}
.logo{
  display : flex;
  align-items: center;
}
ul>li{
  list-style: none;
}
ul>li>a{
  text-decoration : none;
}
.home{
  color : orange;
  font-size : 20px;
}
.about{
  color :skyblue;
  font-size : 20px;
}
.faci{
  color : #05D4DF;
  font-size : 20px;
}
.add{
  color : #5D58EF;
  font-size : 20px;
}
.ul-option{
  display : flex;
  gap : 32px;
}
.btn{
  padding : 8px 35px;
  background-color: orange;
  color : white;
  font-size: 20px;
  border-radius: 12px;
  border : none;
}
.nav{
  display : flex;
  align-items: center;
  justify-content: space-evenly;
}
.for-mobile{
  display : none;
}
.fa-solid-fa-bars{
  font-size : 50px;
}
.all-content{
  display : flex;
  justify-content: space-between;
  align-items : center;
}
.mobile{
  display : none;
}
hr{
  border : 1px solid orange;
}

/* style for main-head */

.left-title{
  font-size : 3.125rem;
  font-weight : bold;
}
.empower{
  color : orange;
}
.towerd{
  color : skyblue;
}
.enroll{
  padding : 8px 35px;
  background-color: black;
  color : white;
  border: none;
  border-radius: 13px;
}
.head-main{
  /* height : 100vh; */
  width : 90%;
  display : flex;
  justify-content: space-around;
  /* background-color : blue; */
  gap : 50px;
  margin: 0px auto;
}
.left-head{
  width : 50%;
  display : flex;
  flex-direction: column;
  gap : 10px;
  justify-content: center;
}
.right-head{
  width : 50%;
}
.img{
  width : 100%;
}
.card-img1{
  height : 100%;
}

/* Style for main */

.standard{
  height : 100vh;
  margin : 0px auto;
  background-image: url(./assets/bg.png);
  margin-top : 30px;
  position : relative;
}
.read-more{
  color : #64C8FF;
}
.card1{
 display : flex;
 flex-direction: column;
 align-items : center;
 background-color :bisque;
 gap : 10px;
 padding : 50px 15px;
 border-radius : 13px;
 background: linear-gradient(180deg, rgba(34, 0, 213, 0.5), white);
 width : 30%;

}

.card-text{
  text-align: center;
}
.card2{
  display : flex;
  flex-direction: column;
  align-items : center;
  gap : 10px;
  padding : 50px 15px;
  border-radius : 13px;
  background: linear-gradient(180deg, rgba(0, 245, 0, 0.5), white);
  width : 30%;


}
.card-text2{
  text-align : center;
}
.card3{
  display : flex;
  flex-direction: column;
  align-items : center;
  /* background-color :bisque; */
  gap : 10px;
  padding : 50px 15px;
  border-radius : 13px;
  background: linear-gradient(180deg, rgba(247, 0, 0, 0.5), white);
  width : 30%;
}
.card-text3{
  text-align : center;
}
.read-more2{
  color : orange;
}
.read-more3{
  color : #8700FF;
}
.card-container{
  display : flex;
  justify-content: space-evenly;
  margin-top : 60px;
  width : 100%;
}
.title-stand{
  text-align : center;
  font-size : 4rem;
}
.title-stand{
  margin-bottom: 20px;
}
.angel{
  margin-top: 20px;
  height : 40vh;
  width : 100%;
  display : flex;
  justify-content: center;
  position : absolute;
  top : 640px;

}
.fg, .fa{
   background-color: orange;
   font-size : 50px;
   height : 50px;
   width : 50px;
   text-align : center;
   border-radius: 50%;
}


/* Style for our stories */

.our-stories{
  height : 100vh;
  width : auto;
  background-image: url(./assets/bg.png);
  background: linear-gradient(to bottom, rgb(250, 204, 204), white);
  margin : 0px auto;
  display : flex;
  border-radius: 13px;
  margin-top : 30px;
}
.left-our{
  height : 90vh;
  width : 40%;
  background-color: white;
  display : flex;
  gap : 10px;
  flex-direction: column;
  position : relative;
  border-radius: 13px;

}
.right-img4{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.right-our{
  height : 90vh;
  width : 60%;
  display : grid;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  

  
}
.img-story1{
  /* width : 100%; */
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  
}
.story-btn1{
  font-size : 18px;
  padding : 7px 15px;
  border : none;
  border-radius: 23px;
  position : absolute;
  top : 369px;
  left : 25px;
  background-color : #3CD8E8;
  color : white;
}
.right1{
  background-color: white;
  border-radius: 13px;
  position : relative;
  display: flex;
  flex-direction: column;

}
.right-img1{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.right2{
  background-color: white;
  border-radius: 13px;
  position : relative;
  display: flex;
  flex-direction: column;
}
.right-img2{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.right-img3{
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.right3{
  background-color: white;
  border-radius: 13px;
  position : relative;
  display: flex;
  flex-direction: column;
}
.right4{
  background-color: white;
  border-radius: 13px;
  display : flex;
  flex-direction: column;
  position : relative;
}
.story-btn2{
  font-size : 18px;
  padding : 7px 15px;
  border : none;
  border-radius: 23px;
  background-color: #95B226; 
  color : white;
  position : absolute;
  top : 245px;
  left : 15px;
}
.story-btn5{
  font-size : 18px;
  padding : 7px 15px;
  border : none;
  border-radius: 23px;
  background-color: #95B226; 
  color : white;
  position : absolute;
  top : 250px;
  left : 15px;
}
.story-btn3{
  font-size : 18px;
  padding : 7px 15px;
  border : none;
  border-radius: 23px;
  background-color: #5D58F0; 
  color : white;
  position : absolute;
  top : 245px;
  left : 15px;
}
.story-btn4{
  font-size : 18px;
  padding : 7px 15px;
  border : none;
  border-radius: 23px;
  background-color: #95B226; 
  color : white;
  position : absolute;
  top : 250px;
  left : 15px;
}




/* Style for responsive design */

/* style for nav */

@media screen and (max-width : 576px){
    /* For header */
       .nav{
        display : none;
       }
       .mobile{
        display: contents;
       }
       .head-main{
        flex-direction: column-reverse;
       }
       .right-head{
        width : 100%;
        overflow: visible;
       }
       .left-head{
        width : 100%;
        overflow : visible;
        align-items: center;
       }
       .left-title{
        text-align: center;
       }
       .ppara{
        text-align: center;
       }
       .card-container{
        flex-direction : column;
       }
       .card1{
        width : 100%;
       }
       .card2{
        width : 100%;
       }
       .card3{
        width : 100%;
        padding: 0px;
       }
       .left-our{
        display : none;
       }
       .angel{
        display : none;
       }

}


